.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-title {
  background-color: black;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-menu {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}

.App-menu--item {
  margin: 10px;
}

.App-main-content {


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
